{{ if eq .osid "linux-debian" -}}
#!/bin/sh

set -e

# Update and upgrade the base system
sudo apt -y update
sudo apt -y upgrade

# Check for curl for pulling signing keys
type -p curl >/dev/null || sudo apt install curl -y

# Install repository for Github CLI
curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
sudo chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null

# Install signing key

sudo apt update && sudo apt -y install \
    gh \
    gnupg2 \
    gnupg-agent \
    pcscd \
    scdaemon \
    yubikey-manager \
    yubikey-personalization \
{{ end }}